version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./server/uploads:/app/server/uploads
      - ./prisma/dev.db:/app/prisma/dev.db
    restart: unless-stopped
